#results{
    width: auto;
	/*height: 55vh;*/
    background: lightslategray;
	background-color: lightslategray;
	/*box-shadow: -1px -1px 3px grey;*/
}
#feed{
	width: auto;
    overflow: hidden;
	background: ghostwhite;
	background-color: ghostwhite;
	height: auto;
}
#find{
	float: right;
	background-color: lightgrey;
	box-shadow: -1px 1px 3px grey;
}
#profile{
	
}
.comment{
		margin: 0.2cm 0.2cm 0.2cm 0.4cm;
}
.annotation{
		margin: 0.1cm 0.1cm 0.1cm 0.2cm;
}
.container {
   height: auto;
}
.threeCol{
    -webkit-column-gap: 3vw;
       -moz-column-gap: 3vw;
            column-gap: 3vw;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
}
.materialSpan:hover{
	background-color: tomato;
}
.materialSpan{
	box-shadow: 1px 1px 3px grey;
	background-color: tan;
	transition: background-color  .2s ease;
}
/*.annotation{
	background-color: tomato;
}
span.badge[contenteditable]:empty::before {
    content: '...;
}
span.badge[contenteditable]:empty:focus::before {
    content: ':)';
}*/
