
.itemButton:hover{
	color: black;
	background-color:lightblue;
	transition: color  .2s ease;
}
.itemButton{
	background-color:lightgrey;
	transition: color  .3s ease;
	transition: background-color  .2s ease;
	transition: color  .2s ease;
}
.document{
	box-shadow: -1px -1px 3px grey;
}
.annotation{
	box-shadow: -1px 1px 3px grey;
}
.comment{
	box-shadow: 1px -1px 3px grey;
}
.vote{
	box-shadow: 1px 1px 3px grey;
}


