
#loginNavElm{ 
}
#pageTitleNavElm{
	font-family: 'Bree Serif', serif;
}
#Nav-Title{

}
#Nav-Content{
	background: tan;
	background-color:tan;
}

	/*display: -webkit-flex;
	-webkit-justify-content: flex-start;
	display: flex;
	justify-content: flex-start;
	float: left*/